<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style_flask_framework2.css')}}">

<html lang="en">
  <head>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" integrity="sha384-T2yuo9Oe71Cz/I4X9Ac5+gpEa5a8PpJCDlqKYO0CfAuEszu1JrXLl8YugMqYe3sM" 
    crossorigin="anonymous">
    </script>

  </head>
  <body>
    <title>Event Study App</title>

    <div class = "row">
      <div class="topnav">
        <h2><a>Event Study App</a>
        <a href="/">Home</a>
        <a href="https://github.com/jvpagan1/event_study_app">GitHub</a>
        <a href="/references">References</a>
        <a class="active" href="/contact">Contact</a></h2>
      </div> 
        <br>
            <h3>Email:
                <a href="mailto:jvpagan@msn.com" target="_blank">jvpagan@msn.com</a></h2>
      
            <h3>Elsewhere on the web:
            <a href="https://www.linkedin.com/in/josepagan/">Linkedin</a></h2>  
     
     </div>

  </body>
</html>
