<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style_flask_framework2.css')}}">

<html lang="en">
  <head>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js" integrity="sha384-T2yuo9Oe71Cz/I4X9Ac5+gpEa5a8PpJCDlqKYO0CfAuEszu1JrXLl8YugMqYe3sM" 
    crossorigin="anonymous">
    </script>

  </head>
  <body>
    <title>Event Study App</title>

    <div class = "row">
      <div class="topnav">
        <h2><a>Event Study App</a>
        <a href="/">Home</a>
        <a href="https://github.com/jvpagan1/event_study_app">GitHub</a>
        <a class="active" href="/references">References</a>
        <a href="/contact">Contact</a></h2>

          
      </div> 
    </div>
        <p>
            <h1>References:</h1>
            <br>
            <li>
            <a href="https://pdfs.semanticscholar.org/52d7/4dd92be0f5bfcd008ee063f420cd85c87f3e.pdf" target="_blank">Fama, Fisher, Jensen and Roll, The Adjustment of Stock Prices to New Information, 1969</a>
            </li><br>
             <li>
            <a href="http://www.business.unr.edu/faculty/liuc/files/BADM742/MacKinlay_1997.pdf" target="_blank">MacKinlay, Craig, Event Studies in Economics and Finance, 1997</a>
            </li>
        </p>



  </body>
</html>


